html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background {
    background-image: url('../images/rimonsplayground_background1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
}
.images {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media (max-width: 300px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 30%;
    }
    #code {
        top: 50%;
        left: 9%;
    }
}
@media (min-width: 300.02px) and (max-width: 400px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 13%;
    }
}
@media (min-width: 400.02px) and (max-width: 500px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 16%;
    }
}
@media (min-width: 500.02px) and (max-width: 600px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 21%;
    }
}
@media (min-width: 600.02px) and (max-width: 750px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 23%;
    }
}
@media (min-width: 750.02px) and (max-width: 850px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 26%;
    }
}
@media (min-width: 850.02px) {
    .button {
        position: absolute;
        width: 15%;
        height: 15%;
    }
    #art {
        top: 50%;
        left: 50%;
    }
    #code {
        top: 50%;
        left: 30%;
    }
}