html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-image: url('../images/rimonsplayground_background1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100dvh;
}
.images {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media (max-aspect-ratio: 3.56/1) and (min-aspect-ratio: 3.15/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 10%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 20%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 1%;
        right: 17%;
    }
    #gallery {
        top: 7%;
        right: 18%;
    }
    #art {
        top: 38%;
        left: 30%;
    }
    #code {
        top: 40%;
        left: 50%;
    }
    #robotics {
        top: 55%;
        left: 39%;
    }
    #music {
        top: 68%;
        left: 28%;
    }
    #media {
        top: 75%;
        left: 50%;
    }
}
@media (max-aspect-ratio: 3.15/1) and (min-aspect-ratio: 2.77/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 12%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 18%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 3%;
        right: 17%;
    }
    #gallery {
        top: 10%;
        right: 18%;
    }
    #art {
        top: 38%;
        left: 30%;
    }
    #code {
        top: 40%;
        left: 50%;
    }
    #robotics {
        top: 55%;
        left: 39%;
    }
    #music {
        top: 65%;
        left: 28%;
    }
    #media {
        top: 72%;
        left: 50%;
    }
}
@media (max-aspect-ratio: 2.77/1) and (min-aspect-ratio: 2.58/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 12%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 18%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 6%;
        right: 17%;
    }
    #gallery {
        top: 13%;
        right: 18%;
    }
    #art {
        top: 39%;
        left: 29%;
    }
    #code {
        top: 40%;
        left: 50%;
    }
    #robotics {
        top: 50%;
        left: 39%;
    }
    #music {
        top: 62%;
        left: 27%;
    }
    #media {
        top: 68%;
        left: 50%;
    }
}
@media (max-aspect-ratio: 2.58/1)  and (min-aspect-ratio: 2.33/1){
    .window-button {
        display: inline-block;
        position: absolute;
        height: 10%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 15%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 11%;
        right: 17%;
    }
    #gallery {
        top: 17%;
        right: 18%;
    }
    #art {
        top: 41%;
        left: 29%;
    }
    #code {
        top: 43%;
        left: 51%;
    }
    #robotics {
        top: 50%;
        left: 39%;
    }
    #music {
        top: 62%;
        left: 27%;
    }
    #media {
        top: 66%;
        left: 50%;
    }
}
@media (max-aspect-ratio: 2.33/1) and (min-aspect-ratio: 2.05/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 9%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 13%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 16%;
        right: 17%;
    }
    #gallery {
        top: 21%;
        right: 18%;
    }
    #art {
        top: 41%;
        left: 29%;
    }
    #code {
        top: 43%;
        left: 51%;
    }
    #robotics {
        top: 50%;
        left: 39%;
    }
    #music {
        top: 62%;
        left: 27%;
    }
    #media {
        top: 66%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 2.05/1) and (min-aspect-ratio: 1.94/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 9%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 12%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 18%;
        right: 16%;
    }
    #gallery {
        top: 23%;
        right: 17%;
    }
    #art {
        top: 43%;
        left: 30%;
    }
    #code {
        top: 45%;
        left: 51%;
    }
    #robotics {
        top: 52%;
        left: 39%;
    }
    #music {
        top: 60%;
        left: 28%;
    }
    #media {
        top: 64%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.94/1) and (min-aspect-ratio: 1.77/1){
    .window-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 12%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 20.5%;
        right: 16%;
    }
    #gallery {
        top: 25%;
        right: 17%;
    }
    #art {
        top: 43%;
        left: 30%;
    }
    #code {
        top: 45%;
        left: 51%;
    }
    #robotics {
        top: 52%;
        left: 39%;
    }
    #music {
        top: 60%;
        left: 28%;
    }
    #media {
        top: 63%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.77/1) and (min-aspect-ratio: 1.62/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 7.5%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 10%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 23%;
        right: 16%;
    }
    #gallery {
        top: 27%;
        right: 17%;
    }
    #art {
        top: 43%;
        left: 30%;
    }
    #code {
        top: 45%;
        left: 51%;
    }
    #robotics {
        top: 52%;
        left: 39%;
    }
    #music {
        top: 60%;
        left: 28%;
    }
    #media {
        top: 63%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.62/1) and (min-aspect-ratio: 1.48/1){
    .window-button {
        display: inline-block;
        position: absolute;
        height: 7.5%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 9%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 25%;
        right: 16%;
    }
    #gallery {
        top: 29%;
        right: 17%;
    }
    #art {
        top: 45%;
        left: 30%;
    }
    #code {
        top: 47%;
        left: 51%;
    }
    #robotics {
        top: 52%;
        left: 39%;
    }
    #music {
        top: 58%;
        left: 28%;
    }
    #media {
        top: 61%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.48/1) and (min-aspect-ratio: 1.37/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 7%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 9%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 26.5%;
        right: 16%;
    }
    #gallery {
        top: 30.5%;
        right: 17%;
    }
    #art {
        top: 45%;
        left: 29%;
    }
    #code {
        top: 47%;
        left: 49%;
    }
    #robotics {
        top: 51%;
        left: 38%;
    }
    #music {
        top: 57%;
        left: 28%;
    }
    #media {
        top: 59%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.37/1) and (min-aspect-ratio: 1.28/1){
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 27.5%;
        right: 14%;
    }
    #gallery {
        top: 31%;
        right: 15%;
    }
    #art {
        top: 45%;
        left: 29%;
    }
    #code {
        top: 47%;
        left: 49%;
    }
    #robotics {
        top: 51%;
        left: 38%;
    }
    #music {
        top: 57%;
        left: 28%;
    }
    #media {
        top: 59%;
        left: 50%;
    }
}

@media (max-aspect-ratio: 1.28/1) and (min-aspect-ratio: 1.19/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 27.5%;
        right: 12%;
    }
    #gallery {
        top: 31%;
        right: 13%;
    }
    #art {
        top: 45%;
        left: 26%;
    }
    #code {
        top: 47%;
        left: 52%;
    }
    #robotics {
        top: 51%;
        left: 38%;
    }
    #music {
        top: 57%;
        left: 24%;
    }
    #media {
        top: 59%;
        left: 52%;
    }
}

@media (max-aspect-ratio: 1.19/1) and (min-aspect-ratio: 1.13/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 27.5%;
        right: 9%;
    }
    #gallery {
        top: 31%;
        right: 10%;
    }
    #art {
        top: 45%;
        left: 26%;
    }
    #code {
        top: 47%;
        left: 52%;
    }
    #robotics {
        top: 51%;
        left: 38%;
    }
    #music {
        top: 57%;
        left: 24%;
    }
    #media {
        top: 59%;
        left: 52%;
    }
}

@media (max-aspect-ratio: 1.13/1) and (min-aspect-ratio: 1.05/1){
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 27.5%;
        right: 6%;
    }
    #gallery {
        top: 31%;
        right: 7%;
    }
    #art {
        top: 45%;
        left: 23%;
    }
    #code {
        top: 47%;
        left: 52%;
    }
    #robotics {
        top: 51%;
        left: 35%;
    }
    #music {
        top: 57%;
        left: 20%;
    }
    #media {
        top: 59%;
        left: 52%;
    }
}

@media (max-aspect-ratio: 1.05/1) and (min-aspect-ratio: 0.95/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 27.5%;
        right: 2%;
    }
    #gallery {
        top: 31%;
        right: 3%;
    }
    #art {
        top: 45%;
        left: 23%;
    }
    #code {
        top: 47%;
        left: 52%;
    }
    #robotics {
        top: 51%;
        left: 35%;
    }
    #music {
        top: 57%;
        left: 20%;
    }
    #media {
        top: 59%;
        left: 52%;
    }
}
@media (max-aspect-ratio: 0.95/1) and (min-aspect-ratio: 0.87/1) {
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 26%;
        right: 2%;
    }
    #gallery {
        top: 29.5%;
        right: 3%;
    }
    #art {
        top: 45%;
        left: 23%;
    }
    #code {
        top: 47%;
        left: 52%;
    }
    #robotics {
        top: 51%;
        left: 35%;
    }
    #music {
        top: 57%;
        left: 20%;
    }
    #media {
        top: 59%;
        left: 52%;
    }
}
@media (max-aspect-ratio: 0.87/1) and (min-aspect-ratio: 0.83/1) {
    body {
        background-position: 36% center;
    }
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
        transform: rotate(-15deg);
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 39%;
        right: 50%;
    }
    #gallery {
        top: 40%;
        right: 35%;
    }
    #art {
        top: 45%;
        left: 27%;
    }
    #code {
        top: 47%;
        left: 57%;
    }
    #robotics {
        top: 51%;
        left: 41%;
    }
    #music {
        top: 57%;
        left: 24%;
    }
    #media {
        top: 59%;
        left: 58%;
    }
}

@media (max-aspect-ratio: 0.83/1) and (min-aspect-ratio: 0.765/1) {
    body {
        background-position: 36% center;
    }
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
        transform: rotate(-15deg);
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 39%;
        right: 49%;
    }
    #gallery {
        top: 40%;
        right: 33%;
    }
    #art {
        top: 45%;
        left: 27%;
    }
    #code {
        top: 47%;
        left: 57%;
    }
    #robotics {
        top: 51%;
        left: 41%;
    }
    #music {
        top: 57%;
        left: 24%;
    }
    #media {
        top: 59%;
        left: 58%;
    }
}
@media (max-aspect-ratio: 0.765/1) and (min-aspect-ratio: 0.63/1) {
    body {
        background-position: 42% center;
    }
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
        transform: rotate(-15deg);
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 39%;
        right: 49%;
    }
    #gallery {
        top: 40%;
        right: 30%;
    }
    #art {
        top: 45%;
        left: 19%;
    }
    #code {
        top: 47%;
        left: 61%;
    }
    #robotics {
        top: 51%;
        left: 38%;
    }
    #music {
        top: 57%;
        left: 17%;
    }
    #media {
        top: 59%;
        left: 63%;
    }
}
@media (max-aspect-ratio: 0.63/1) and (min-aspect-ratio: 0.53/1) {
    body {
        background-position: 48% center;
    }
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
        transform: rotate(-15deg);
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 39%;
        right: 53%;
    }
    #gallery {
        top: 40%;
        right: 30%;
    }
    #art {
        top: 45%;
        left: 9%;
    }
    #code {
        top: 47%;
        left: 56%;
    }
    #robotics {
        top: 51%;
        left: 30%;
    }
    #music {
        top: 57%;
        left: 6%;
    }
    #media {
        top: 59%;
        left: 58%;
    }
}
@media (max-aspect-ratio: 0.53/1) {
    body {
        background-position: 48% center;
    }
    .window-button {
        display: inline-block;
        position: absolute;
        height: 6%;
    }
    .poster-button {
        display: inline-block;
        position: absolute;
        height: 8%;
    }
    .window-images {
        height: 100%;
        transform: rotate(-15deg);
    }
    .poster-images {
        height: 100%;
    }
    #about-me {
        top: 39%;
        right: 56%;
    }
    #gallery {
        top: 40%;
        right: 26%;
    }
    #art {
        top: 45%;
        left: 10%;
    }
    #code {
        top: 47%;
        left: 61%;
    }
    #robotics {
        top: 51%;
        left: 33%;
    }
    #music {
        top: 57%;
        left: 6%;
    }
    #media {
        top: 59%;
        left: 63%;
    }
}