html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background {
    background-image: url('../images/rimonsplayground_background1.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
}
.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.buttons {
    flex-basis: 300px;
    flex-shrink: 1;
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10%;
}
@media (max-width: 750px) {
    .button {
        position: absolute;
        width: 150px;
        height: 150px;
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #art {
        top: 50%;
        left: 50%;
        background-image: url('../images/art1.png');
    }
    #art:hover {
        background-image: url('../images/art2.png');
    }
    #code {
        top: 50%;
        left: 23%;
        background-image: url('../images/coding1.png');
    }
    #code:hover {
        background-image: url('../images/coding2.png');
    }
}
@media (min-width: 750.02px) {
    .button {
        position: absolute;
        width: 15%;
        height: 15%;
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #art {
        top: 50%;
        left: 50%;
        background-image: url('../images/art1.png');
    }
    #art:hover {
        background-image: url('../images/art2.png');
    }
    #code {
        top: 50%;
        left: 30%;
        background-image: url('../images/coding1.png');
    }
    #code:hover {
        background-image: url('../images/coding2.png');
    }
}