body, html {
    padding: 0;
    margin: 0;
    background-color: #F7AB3D;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
.poster {
    margin-top: 100px;
    width: 100%;
    height: 30vw;
    position: relative;
}
.above-text {
    text-align: center;
    color: #2456FF;
    font-size: 10vw;
    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}
.header {
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.web-title {
    top: 0;
    height: 90%;
    transition: height 0.3s;
}
.web-title:hover {
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.project-list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.project-type-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    height: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab", Serif;
}
.title, .type {
    color: #1C4D9B;
}
.type-1 {
    text-align: right;
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.description {
    flex: 0 1 400px;
}
.top-section {
    margin-bottom: 40px;
}
.middle-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}
.bottom-section {
    display: flex;
    justify-content: right;
}
.middle-section.type-2{
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}
.bottom-section.type-2{
    display: flex;
    justify-content: left;
}
.view-project {
    border: 1px solid #F26B1D;
    color: #F26B1D;
    padding: 5px;
    transition: background-color 0.2s;
    text-align: center;
}
.view-project:hover {
    background-color: #F26B1D;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.view-game {
    border: 1px solid #1C4D9B;
    color: #1C4D9B;
    padding: 5px;
    transition: background-color 0.2s;
    margin-left: 5px;
    text-align: center;
}
.view-game:hover {
    background-color: #1C4D9B;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.view-gameplay {
    border: 1px solid black;
    color: black;
    padding: 5px;
    transition: background-color 0.2s;
    margin-left: 5px;
    text-align: center;
}
.view-gameplay:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.images-mechanism {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right {
    width: 8%;
    position: absolute;
    z-index: 3;
    right: 6%;
    transition: width 0.5s;
}
.right:hover {
    width: 10%;
    cursor: pointer;
}
.left {
    width: 8%;
    z-index: 3;
    position: absolute;
    left: 6%;
    transition: width 0.5s;
}
.left:hover {
    width: 10%;
    cursor: pointer;
}
#first-image, #second-image, #third-image {
    transition: width 1s, z-index 1s, left 1s;
}
.image-centre {
    width: 70%;
    position: absolute;
    left: 14.7%;
    z-index: 2;
    border: 2px solid black;
}
.image-left {
    width: 35%;
    position: absolute;
    left: 5%;
    z-index: 0;
    border: 2px solid black;
}
.image-right {
    width: 35%;
    position: absolute;
    left: 60%;
    z-index: 1;
    border: 2px solid black;
}
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle-image {
    display: flex;
    justify-content: center;
}
.gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.way-out-image {
    width: 80%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}
.rock-paper-gif {
    width: 80%;
    max-width: 400px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    transition: max-width 0.5s;
}
.rock-paper-gif:hover {
    max-width: 420px;
}
.gif-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rock-paper-gif-2 {
    width: 90%;
    height: 100%;
    max-width: 700px;
    transition: max-width 0.5s;
}
.rock-paper-gif-3 {
    width: 50%;
}