body, html {
    padding: 0;
    margin: 0;
    background-color: #3f5f76;

}
a {
    text-decoration: none;
    color: white;
}
.poster {
    width: 100%;
    height: 50vw;
    position: relative;
}
.piano-front-img {
    top: 50%;
    right: 0%;
    position: absolute;
    width: 60%;
    z-index:3;
}
.piano-back-img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
}
.above-text {
    position: absolute;
    top: 35%;
    left: 20%;
    text-align: center;
    color: black;
    font-size: 20vw;
    z-index: 2;
}
.header {
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.web-title {
    top: 0;
    height: 90%;
    transition: height 0.3s;
}
.web-title:hover {
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.project-list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}
.project-type-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.title-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab", Serif;
}
.description, .title, .type {
    color: white;
}
.type-1 {
    text-align: right;
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.description {
    flex: 0 1 400px;
}
.top-section {
    margin-bottom: 40px;
}
.gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rock-paper-gif {
    width: 90%;
    height: 100%;
    max-width: 700px;
    transition: max-width 0.5s;
}